In [2]:
import pandas as pd
from datetime import datetime
#1 fATTO
#2 FATTO
#3 NON FATTO, non so come identificare univocamente un borrower
#4 FATTO
#5 FATTO
#6 FATTO
#7 FATTO
#8 NON FATTO, non so dove trovare i soldi dati da ciascun lander

# 1) Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.

Il metodo per farlo normalmente sarebbe utilizzando una serie di funzioni pandas come mostrato di seguito

In [6]:
loans_lenders= pd.read_csv("dataset/loans_lenders.csv")
loans_lenders_norm = loans_lenders.lenders.str.split(',').apply(pd.Series)           
loans_lenders_norm.index = loans_lenders.loan_id                                
loans_lenders_norm = loans_lenders_norm.stack().reset_index('loan_id') 

# Oppure

loans_lenders_norm = pd.DataFrame(loans_lenders.lenders.str.split(',').tolist(), index=loans_lenders.loan_id).stack()
loans_lenders_norm = loans_lenders_norm.reset_index([0, 'loan_id'])
loans_lenders_norm.columns = ['loan_id', 'lenders']

Il problema è che il dataset risultante da entrambe le funzioni risulta troppo grosso per la RAM disponibile e quindi restituisce un Memory Error, per aggirare questo ostacolo si procede quindi a lavorare su chunk più piccoli per poi unirli tutti assieme in seguito.

In [4]:
def prepro(chunk_x,ch_n):
    new_df = pd.DataFrame(chunk_x.lenders.str.split(',').tolist(), index=chunk_x.loan_id).stack()
    print(ch_n)
    return new_df

In [7]:
loans_lenders = pd.read_csv(r'dataset/loans_lenders.csv', chunksize=1000)

chunk_list = [] 
ch_n=0
for chunk in loans_lenders:  
    ch_n+=1
    chunk_filter = prepro(chunk,ch_n)
    chunk_list.append(chunk_filter)
    
# Concatenazione dei chunk
loans_lenders_norm = pd.concat(chunk_list)
loans_lenders_norm.reset_index([0, 'loan_id'])
loans_lenders_norm.columns = ['loan_id', 'lenders']
loans_lenders_norm.head()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388

In [12]:
######## DA CANCELLARE IN SEGUITO, SERVE SOLO PER NON RIESEGUIRE SEMPRE LA FUNZIONE SOPRA
loans_lenders_norm.to_csv("dataset/loans_lenders_norm.csv",index=True,header=True)

In [15]:
######## DA CANCELLARE IN SEGUITO, SERVE SOLO PER NON RIESEGUIRE SEMPRE LA FUNZIONE SOPRA
loans_lenders_norm= pd.read_csv("dataset/loans_lenders_norm.csv")
loans_lenders_norm=loans_lenders_norm.rename(columns={"0": "lender_name"})
loans_lenders_norm=loans_lenders_norm.drop(['Unnamed: 1'], axis=1)
loans_lenders_norm

          loan_id         lender_name
0          483693              muc888
1          483693             sam4326
2          483693         camaran3922
3          483693         lachheb1865
4          483693         rebecca3499
5          483693       karlheinz4543
6          483693             jerrydb
7          483693           paula8951
8          483693                gmct
9          483693            amra9383
10         483693               r3922
11         483693           brian9451
12         483693           shree8053
13         483693            alan5513
14         483693           oisin3389
15         483693           helle8622
16         483693              bo3186
17         483693             ric8947
18         483693      daniel98469874
19         483693            nick9464
20         483693     deborah12671549
21         483693         matthew9831
22         483693            john6330
23         483693            john9479
24         483693        mattiaslaven
25         483693        jonathan2867
26         483693           jason3883
27         483693     highgrovechurch
28         483693           maria3124
29         483693            dino5102
...           ...                 ...
28293901  1206220           karen8410
28293902  1206220    themissionbeltco
28293903  1206220                 nms
28293904  1206220           david8478
28293905  1206220         bernardchan
28293906  1206220            ruth3760
28293907  1206220          janchapman
28293908  1206220            matt4673
28293909  1206220             dan3261
28293910  1206220          alfred4950
28293911  1206220       elizabeth7391
28293912  1206220      taylor25478922
28293913  1206220       francisco6172
28293914  1206220           terry5191
28293915  1206220            greg1731
28293916  1206220         marilyn1116
28293917  1206220          sheila5822
28293918  1206220   sebastien24117895
28293919  1206220      martin19411599
28293920  1206220        florence9711
28293921  1206425            rich6705
28293922  1206425         sergiiy9766
28293923  1206425          angela7509
28293924  1206425         barbara5610
28293925  1206425           david9667
28293926  1206425   trogdorfamily7622
28293927  1206425           danny6470
28293928  1206425             don6118
28293929  1206486            alan5175
28293930  1206486         amy38101311

[28293931 rows x 2 columns]

# 2) For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time.

In [7]:
# 2) For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time.
loans=pd.read_csv("dataset/loans.csv")
test=loans[0:10]  # Andrà rimosso, è fatto per non calcolare una tabella gigante
# Giorni di differenza 
FMT="%Y-%m-%d %H:%M:%S.%f %z"
test['duration']=(test['planned_expiration_time'].apply(lambda x: datetime.strptime(x, FMT)) - test['disburse_time'].apply(lambda x: datetime.strptime(x, FMT))).apply(lambda x:x.days)
test.head()

C:\Users\stefano\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model,duration
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,7.0,3,2,1,NaN,female,true,irregular,field_partner,53
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,8.0,11,2,1,NaN,female,true,monthly,field_partner,96
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner,37
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,14.0,21,2,1,user_favorite,female,true,monthly,field_partner,34
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner,57

In [13]:
test.loc[test['loan_id']==551251]

Empty DataFrame
Columns: [loan_id, loan_name, original_language, description, description_translated, funded_amount, loan_amount, status, activity_name, sector_name, loan_use, country_code, country_name, town_name, currency_policy, currency_exchange_coverage_rate, currency, partner_id, posted_time, planned_expiration_time, disburse_time, raised_time, lender_term, num_lenders_total, num_journal_entries, num_bulk_entries, tags, borrower_genders, borrower_pictured, repayment_interval, distribution_model, duration]
Index: []

[0 rows x 32 columns]

# 3)Find the borrowers that have funded at least twice.

In [91]:
#3)Find the borrowers that have funded at least twice.
## PROBLEMA COME SI FA IDENTIFICARE UNIVOCAMENTE UN BORROWER?
test2=loans[0:10000]

# 4)For each country, compute how many loans have involved that country as borrowers.

In [103]:
#4)For each country, compute how many loans have involved that country as borrowers.
test2.country_name.value_counts()

Philippines                         2487
Kenya                                992
El Salvador                          563
Peru                                 445
Cambodia                             443
Nicaragua                            307
Uganda                               289
Pakistan                             283
Tajikistan                           283
India                                278
Ecuador                              228
Colombia                             216
Paraguay                             207
Bolivia                              173
Jordan                               133
Liberia                              132
Sierra Leone                         132
Honduras                             128
Vietnam                              124
Rwanda                               120
Ghana                                120
Samoa                                109
Lebanon                               98
Armenia                               98
Mexico                                92
Palestine                             86
Mali                                  85
Indonesia                             81
Kyrgyzstan                            80
Mongolia                              78
                                    ...
Timor-Leste                           30
Albania                               30
United States                         29
Costa Rica                            26
Kosovo                                25
Burundi                               24
Burkina Faso                          23
Ukraine                               22
Haiti                                 21
Dominican Republic                    19
Nepal                                 16
Zambia                                13
Turkey                                13
South Sudan                           12
Egypt                                 12
Israel                                 8
Chile                                  7
Congo                                  7
Lao People's Democratic Republic       6
Malawi                                 5
Myanmar (Burma)                        5
South Africa                           4
Thailand                               3
Suriname                               3
Belize                                 2
Somalia                                2
Solomon Islands                        1
Moldova                                1
Afghanistan                            1
China                                  1
Name: country_name, Length: 75, dtype: int64

# 5)For each country, compute the overall amount of money borrowed.

In [110]:
#5)For each country, compute the overall amount of money borrowed.
test2.groupby('country_name').sum().funded_amount

country_name
Afghanistan                               1175.0
Albania                                  39050.0
Armenia                                 152150.0
Azerbaijan                              103300.0
Belize                                    1250.0
Benin                                    37525.0
Bolivia                                 294875.0
Burkina Faso                             21950.0
Burundi                                  78225.0
Cambodia                                319200.0
Cameroon                                 14450.0
Chile                                    24225.0
China                                     3100.0
Colombia                                147475.0
Congo                                    18450.0
Costa Rica                               33375.0
Dominican Republic                       43500.0
Ecuador                                 253450.0
Egypt                                     9375.0
El Salvador                             335050.0
Georgia                                 101950.0
Ghana                                    77925.0
Guatemala                               102075.0
Haiti                                    28475.0
Honduras                                107225.0
India                                   122275.0
Indonesia                                60750.0
Iraq                                     76125.0
Israel                                   32750.0
Jordan                                  135225.0
                                          ...
Nicaragua                               239225.0
Nigeria                                   9875.0
Pakistan                                145925.0
Palestine                               121700.0
Paraguay                                536700.0
Peru                                    449675.0
Philippines                             828475.0
Rwanda                                  156400.0
Samoa                                    78425.0
Senegal                                 140975.0
Sierra Leone                             93975.0
Solomon Islands                           1025.0
Somalia                                   1350.0
South Africa                              6050.0
South Sudan                               9075.0
Suriname                                  7375.0
Tajikistan                              258725.0
Tanzania                                120925.0
Thailand                                  4500.0
The Democratic Republic of the Congo    117200.0
Timor-Leste                              27800.0
Togo                                     42375.0
Turkey                                    5150.0
Uganda                                  216875.0
Ukraine                                  46825.0
United States                           157600.0
Vietnam                                 153975.0
Yemen                                    59425.0
Zambia                                   28250.0
Zimbabwe                                 37000.0
Name: funded_amount, Length: 75, dtype: float64

# 6) Like the previous point, but expressed as a percentage of the overall amount lent.

In [167]:
#6) Like the previous point, but expressed as a percentage of the overall amount lent.
(test2.groupby('country_name').sum()).apply(lambda x:100 * x / float(x.sum())).funded_amount

country_name
Afghanistan                              0.014365
Albania                                  0.477400
Armenia                                  1.860087
Azerbaijan                               1.262879
Belize                                   0.015282
Benin                                    0.458756
Bolivia                                  3.604950
Burkina Faso                             0.268346
Burundi                                  0.956328
Cambodia                                 3.902332
Cameroon                                 0.176656
Chile                                    0.296159
China                                    0.037899
Colombia                                 1.802933
Congo                                    0.225558
Costa Rica                               0.408021
Dominican Republic                       0.531803
Ecuador                                  3.098515
Egypt                                    0.114613
El Salvador                              4.096103
Georgia                                  1.246374
Ghana                                    0.952660
Guatemala                                1.247903
Haiti                                    0.348117
Honduras                                 1.310863
India                                    1.494855
Indonesia                                0.742690
Iraq                                     0.930655
Israel                                   0.400380
Jordan                                   1.653173
                                          ...
Nicaragua                                2.924609
Nigeria                                  0.120725
Pakistan                                 1.783984
Palestine                                1.487825
Paraguay                                 6.561345
Peru                                     5.497434
Philippines                             10.128397
Rwanda                                   1.912045
Samoa                                    0.958773
Senegal                                  1.723469
Sierra Leone                             1.148877
Solomon Islands                          0.012531
Somalia                                  0.016504
South Africa                             0.073963
South Sudan                              0.110945
Suriname                                 0.090162
Tajikistan                               3.163004
Tanzania                                 1.478350
Thailand                                 0.055014
The Democratic Republic of the Congo     1.432811
Timor-Leste                              0.339865
Togo                                     0.518049
Turkey                                   0.062961
Uganda                                   2.651373
Ukraine                                  0.572452
United States                            1.926715
Vietnam                                  1.882398
Yemen                                    0.726491
Zambia                                   0.345366
Zimbabwe                                 0.452338
Name: funded_amount, Length: 75, dtype: float64

# 7) Like the three previous points, but split for each year (with respect to disburse time).

### 7-4)For each country, compute how many loans have involved that country as borrowers.

In [208]:
#7)Like the three previous points, but split for each year (with respect to disburse time).   
#test2['disburse_time_year']=(test2['disburse_time'].apply(lambda x: datetime.strptime(x, FMT).year))  # Questa poi si puo cancellare
FMT="%Y-%m-%d %H:%M:%S.%f %z"

    #7-4)For each country, compute how many loans have involved that country as borrowers.
#test2.groupby(["country_name","disburse_time_year"]).count().loan_id

print(test2.groupby(["country_name",(test2['disburse_time'].apply(lambda x: datetime.strptime(x, FMT).year))]).count().loan_id)

country_name   disburse_time
Afghanistan    2010              1
Albania        2012              5
               2013             13
               2014              7
               2015              2
               2016              3
Armenia        2010              1
               2012             16
               2013             42
               2014             13
               2015             12
               2016              9
               2017              5
Azerbaijan     2010              2
               2012             14
               2013             25
               2014              8
               2015              9
Belize         2013              1
               2014              1
Benin          2010              2
               2012             26
               2013             10
               2014              8
Bolivia        2010             14
               2012             35
               2013             73
               2014             19
               2015             18
               2016             11
                                ..
Ukraine        2013             11
               2014              2
               2015              3
United States  2012              3
               2013             10
               2014              4
               2015              3
               2016              7
               2017              2
Vietnam        2010              1
               2012             25
               2013             33
               2014             21
               2015             12
               2016             15
               2017             17
Yemen          2012             12
               2013             26
               2014             10
Zambia         2012              1
               2013              6
               2014              2
               2015              2
               2017              2
Zimbabwe       2012              1
               2013              7
               2014             18
               2015              4
               2016              3
               2017              2
Name: loan_id, Length: 388, dtype: int64

### 7-5) For each country, compute the overall amount of money borrowed.

In [209]:
    #7-5)For each country, compute the overall amount of money borrowed.
test2.groupby(['country_name',(test2['disburse_time'].apply(lambda x: datetime.strptime(x, FMT).year))]).sum().funded_amount

country_name   disburse_time
Afghanistan    2010               1175.0
Albania        2012               4250.0
               2013              14775.0
               2014              13475.0
               2015               2025.0
               2016               4525.0
Armenia        2010               3000.0
               2012              23150.0
               2013              73800.0
               2014              22425.0
               2015              13000.0
               2016              12350.0
               2017               4425.0
Azerbaijan     2010               5050.0
               2012              21600.0
               2013              47900.0
               2014              17075.0
               2015              11675.0
Belize         2013                500.0
               2014                750.0
Benin          2010                900.0
               2012              18500.0
               2013              10000.0
               2014               8125.0
Bolivia        2010              13475.0
               2012              59100.0
               2013             115275.0
               2014              36350.0
               2015              33850.0
               2016              23500.0
                                  ...
Ukraine        2013              28750.0
               2014               4975.0
               2015               2400.0
United States  2012              19325.0
               2013              45575.0
               2014              23450.0
               2015              10750.0
               2016              45500.0
               2017              13000.0
Vietnam        2010               1325.0
               2012              15525.0
               2013              33050.0
               2014              23850.0
               2015              21025.0
               2016              23725.0
               2017              35475.0
Yemen          2012              10700.0
               2013              23525.0
               2014              25200.0
Zambia         2012               5000.0
               2013              13275.0
               2014               5200.0
               2015               4275.0
               2017                500.0
Zimbabwe       2012               1200.0
               2013              14350.0
               2014               9000.0
               2015               5550.0
               2016               4500.0
               2017               2400.0
Name: funded_amount, Length: 388, dtype: float64

### 7-6) Like the previous point, but expressed as a percentage of the overall amount lent.

In [210]:
    #7-6) Like the previous point, but expressed as a percentage of the overall amount lent.
(test2.groupby(['country_name',(test2['disburse_time'].apply(lambda x: datetime.strptime(x, FMT).year))]).sum()).apply(lambda x:100 * x / float(x.sum())).funded_amount

country_name   disburse_time
Afghanistan    2010             0.014365
Albania        2012             0.051958
               2013             0.180630
               2014             0.164737
               2015             0.024756
               2016             0.055320
Armenia        2010             0.036676
               2012             0.283017
               2013             0.902231
               2014             0.274153
               2015             0.158930
               2016             0.150983
               2017             0.054097
Azerbaijan     2010             0.061738
               2012             0.264068
               2013             0.585594
               2014             0.208748
               2015             0.142731
Belize         2013             0.006113
               2014             0.009169
Benin          2010             0.011003
               2012             0.226169
               2013             0.122253
               2014             0.099331
Bolivia        2010             0.164737
               2012             0.722518
               2013             1.409277
               2014             0.444391
               2015             0.413828
               2016             0.287296
                                  ...
Ukraine        2013             0.351479
               2014             0.060821
               2015             0.029341
United States  2012             0.236255
               2013             0.557170
               2014             0.286684
               2015             0.131423
               2016             0.556253
               2017             0.158930
Vietnam        2010             0.016199
               2012             0.189799
               2013             0.404048
               2014             0.291575
               2015             0.257038
               2016             0.290046
               2017             0.433694
Yemen          2012             0.130811
               2013             0.287601
               2014             0.308079
Zambia         2012             0.061127
               2013             0.162292
               2014             0.063572
               2015             0.052263
               2017             0.006113
Zimbabwe       2012             0.014670
               2013             0.175434
               2014             0.110028
               2015             0.067851
               2016             0.055014
               2017             0.029341
Name: funded_amount, Length: 388, dtype: float64

### 7-6*) Like the previous point, but expressed as a percentage of the overall amount lent. Year percentage of total found requested per country

In [211]:
#7-6*) Like the previous point, but expressed as a percentage of the overall amount lent. Year percentage of total found requested per country
(test2.groupby(['country_name',(test2['disburse_time'].apply(lambda x: datetime.strptime(x, FMT).year))]).sum()).groupby(level=0).apply(lambda x:100 * x / (x.sum())).funded_amount

country_name   disburse_time
Afghanistan    2010             100.000000
Albania        2012              10.883483
               2013              37.836108
               2014              34.507042
               2015               5.185659
               2016              11.587708
Armenia        2010               1.971738
               2012              15.215248
               2013              48.504765
               2014              14.738745
               2015               8.544200
               2016               8.116990
               2017               2.908314
Azerbaijan     2010               4.888674
               2012              20.909971
               2013              46.369797
               2014              16.529526
               2015              11.302033
Belize         2013              40.000000
               2014              60.000000
Benin          2010               2.398401
               2012              49.300466
               2013              26.648901
               2014              21.652232
Bolivia        2010               4.569733
               2012              20.042391
               2013              39.092836
               2014              12.327257
               2015              11.479440
               2016               7.969479
                                   ...
Ukraine        2013              61.398825
               2014              10.624666
               2015               5.125467
United States  2012              12.262056
               2013              28.918147
               2014              14.879442
               2015               6.821066
               2016              28.870558
               2017               8.248731
Vietnam        2010               0.860529
               2012              10.082806
               2013              21.464523
               2014              15.489528
               2015              13.654814
               2016              15.408346
               2017              23.039454
Yemen          2012              18.005890
               2013              39.587716
               2014              42.406395
Zambia         2012              17.699115
               2013              46.991150
               2014              18.407080
               2015              15.132743
               2017               1.769912
Zimbabwe       2012               3.243243
               2013              38.783784
               2014              24.324324
               2015              15.000000
               2016              12.162162
               2017               6.486486
Name: funded_amount, Length: 388, dtype: float64

In [ ]:
#For each lender, compute the overall amount of money lent.

# il Lender lo prendo dalla tab creata prima loans_lenders_norm.
#

In [96]:
test2.loc[test2.loan_name=='Evelyn']

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,loan_use,country_code,country_name,town_name,currency_policy,currency_exchange_coverage_rate,currency,partner_id,posted_time,planned_expiration_time,disburse_time,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
124,1154491,Evelyn,English,Evelyn is a married woman with two children. S...,Evelyn is a married woman with two children. S...,150.0,150.0,funded,Weaving,Arts,"to buy nipa leaves, and other supplies needed ...",PH,Philippines,Hilongos Leyte,shared,0.1,PHP,145.0,2016-09-21 06:18:21.000 +0000,2016-10-21 06:20:04.000 +0000,2016-08-25 07:00:00.000 +0000,2016-09-21 14:59:07.000 +0000,8.0,4,1,1,#Woman Owned Biz,female,true,irregular,field_partner
378,662358,Evelyn,English,Evelyn is 39 years old and lives in Kakata. Sh...,NaN,375.0,375.0,funded,Food Market,Food,"to purchase more rice, oil, pepper, etc., for ...",LR,Liberia,Kakata,shared,0.1,LRD,182.0,2014-01-27 12:57:08.000 +0000,2014-02-28 18:50:02.000 +0000,2014-01-14 08:00:00.000 +0000,2014-01-29 21:40:33.000 +0000,11.0,15,1,1,NaN,female,true,irregular,field_partner
776,667264,Evelyn,English,Evelyn is 44 years old and married with five c...,Evelyn is 44 years old and married with five c...,200.0,200.0,funded,Farming,Agriculture,to buy fertilizers and other farm supplies.,PH,Philippines,"Dumangas, Iloilo City",shared,0.1,PHP,145.0,2014-02-10 02:10:39.000 +0000,2014-03-27 00:12:46.000 +0000,2014-01-30 08:00:00.000 +0000,2014-02-26 01:38:19.000 +0000,8.0,8,1,1,NaN,female,true,irregular,field_partner
908,1157262,Evelyn,English,Evelyn is a 31-year-old woman with two childr...,Evelyn is a 31-year-old woman with two childr...,125.0,125.0,funded,Weaving,Arts,to buy additional materials like buli (a kind ...,PH,Philippines,"Barili,Cebu",shared,0.1,PHP,125.0,2016-09-26 02:07:22.000 +0000,2016-10-29 17:00:04.000 +0000,2016-08-31 07:00:00.000 +0000,2016-09-29 19:05:30.000 +0000,9.0,4,1,1,NaN,female,true,irregular,field_partner
1260,1261208,Evelyn,English,Evelyn works hard to support three children. S...,Evelyn works hard to support three children. S...,200.0,200.0,funded,Personal Expenses,Personal Use,to buy a sanitary toilet.,PH,Philippines,"Bogo, Cebu",shared,0.1,PHP,145.0,2017-03-20 07:03:20.000 +0000,2017-04-22 15:20:05.000 +0000,2017-02-28 08:00:00.000 +0000,2017-03-23 21:04:52.000 +0000,14.0,7,1,1,"#Eco-friendly, user_favorite, user_favorite",female,true,irregular,field_partner
1857,667345,Evelyn,English,"Evelyn is 51 years old, a widowed mother of se...","Evelyn is 51 years old, a widowed mother of se...",100.0,100.0,funded,Fish Selling,Food,to buy more fish to sell.,PH,Philippines,"Dumangas, Iloilo City",shared,0.1,PHP,145.0,2014-02-10 04:29:59.000 +0000,2014-03-27 00:12:53.000 +0000,2014-01-24 08:00:00.000 +0000,2014-02-25 03:58:18.000 +0000,8.0,4,1,1,NaN,female,true,irregular,field_partner
2390,669946,Evelyn,English,Evelyn has been operating a farm with her husb...,Evelyn has been operating a farm with her husb...,225.0,225.0,funded,Farming,Agriculture,to buy fertilizer.,PH,Philippines,"Bonifacio, Misamis Occidental",shared,0.1,PHP,136.0,2014-02-14 08:33:43.000 +0000,2014-03-26 21:51:32.000 +0000,2014-02-11 08:00:00.000 +0000,2014-02-27 21:06:44.000 +0000,8.0,8,1,1,NaN,female,true,irregular,field_partner
2580,1314060,Evelyn,English,Evelyn works hard to support five children. Sh...,Evelyn works hard to support five children. Sh...,125.0,125.0,funded,Personal Housing Expenses,Housing,to build a sanitary toilet for her family.,PH,Philippines,"La Castellana, Negros Occidental",shared,0.1,PHP,145.0,2017-06-06 05:07:27.000 +0000,2017-07-18 16:20:05.000 +0000,2017-05-24 07:00:00.000 +0000,2017-06-18 16:31:09.000 +0000,14.0,1,1,1,#Eco-friendly,female,true,irregular,field_partner
2599,667317,Evelyn,English,Evelyn is 43 years old and single. \r\n\r\nEv...,Evelyn is 43 years old and single. \r\n\r\nEv...,250.0,250.0,funded,Pigs,Agriculture,"to buy feed, vitamins and other supplies for h...",PH,Philippines,"Toledo, Cebu",shared,0.1,PHP,145.0,2014-02-10 03:50:21.000 +0000,2014-03-27 00:12:51.000 +0000,2014-01-28 08:00:00.000 +0000,2014-02-26 22:17:18.000 +0000,8.0,10,2,1,NaN,female,true,irregular,field_partner
2793,1282172,Evelyn,English,Evelyn works hard to support her family. She i...,Evelyn works hard to support her family. She i...,300.0,300.0,funded,Fishing,Food,to purchase additional fishing net and other f...,PH,Philippines,"Manapla, Negros Occidental",shared,0.1,PHP,145.0,2017-04-20 05:25:19.000 +0000,2017-05-28 19:30:05.000 +0000,2017-03-28 07:00:00.000 +0000,2017-04-30 10:16:55.000 +0000,11.0,8,1,1,"#Woman Owned Biz, user_favorite, #Repair Renew...",female,true,irregular,field_partner
2857,1334611,Evelyn,English,"As a married parent of three children, Evelyn ...","As a married parent of three children, Evelyn ...",600.0,600.0,funded,Cereals,Food,to purchase more stock of rice grains to sell.,PH,Philippines,"Taytay, Palawan",shared,0.1,PHP,145.0,2017-07-06 05:34:54.000 +0000,2017-08-18 23:50:05.000 +0000,2017-06-15 07:00:00.000 +0000,2017-07-20 00:15:18.000 +0000,8.0,1,1,1,NaN,female,true,irregular,field_partner
3377,687795,Evelyn,English,Evelyn is 61 years old and married with seven ...,Evelyn is 61 years old and married with seven ...,450.0,450.0,funded,General Store,Retail,to purchase additional items to sell like can ...,PH,Philippines,"Puerto Princesa, Palawan",shared,0.1,PHP,145.0,2014-03-23 23:23:52.000 +0000,2014-04-22 23:30:15.000 +0000,2014-02-28 08:00:00.000 +0000,2014-03-24 21:35:33.000 +0000,8.0,12,1,1,NaN,female,true,irregular,field_partner
3423,1358082,Evelyn,English,Evelyn is a hardworking woman entrepreneur. Sh...,Evelyn is a hardworking woman entrepreneur. Sh...,200.0,200.0,funded,Pigs,Agriculture,to buy feeds and other supplies for raising pigs.,PH,Philippines,"Binalbagan, Negros Occidental",shared,0.1,PHP,145.0,2017-08-15 08:27:35.000 +0000,2017-09-23 17:20:05.000 +0000,2017-07-28 07:00:00.000 +0000,2017-08-24 17:34:23.000 +0000,8.0,1,1,1,"#Animals, #Woman Owned Biz",female,true,irregular,field_partner
3541,676078,Evelyn,English,Evelyn is 36 years old and a married mother of...,Evelyn is 36 years old and a married mother of...,425.0,425.0,funded,Fish Selling,Food,to buy more fish to resell.,PH,Philippines,"Bago, Negros Occidental",shared,0.1,PHP,145.0,2014-02-25 07:55:07.000 +0000,2014-03-29 17:50:03.000 +0000,2014-02-05 08:00:00.000 +0000,2014-02-27 23:13:29.000 +0000,7.0,17,1,1,user_favorite,female,true,irregular,field_partner
3763,1345440,Evelyn,English,Evelyn works hard to support her family. She i...,Evelyn works hard to support her family. She i...,600.0,600.0,funded,Fish Selling,Food,to buy additional fish to sell.,PH,Philippines,"Cauayan, Negros Occidental",shared,0.1,PHP,145.0,2017-07-24 08:32:03.000 +0000,2017-09-16 23:50:04.000 +0000,2017-06-26 07:00:00.000 +0000,2017-08-18 00:15:19.000 +0000,8.0,1,1,1,NaN,female,true,irregular,field_partner
3926,438983,Evelyn,English,"Evelyn is 46 years old, married, and has two c...",NaN,175.0,175.0,funded,Farming,Agriculture,to purchase fertilizers such as manure,PH,Philippines,"Aurora, Zamboanga del Sur",shared,0.1,PHP,136.0,2012-06-18 03:49:26.000 +0000,2012-07-18 17:20:07.000 +0000,2012-06-07 07:00:00.000 +0000,2012-06-18 20:26:29.000 +0000,8.0,6,1,1,NaN,female,true,irregular,field_partner
4432,694296,Evelyn,English,"As a married mother of five children, Evelyn w...","As a married mother of five children, Evelyn w...",275.0,275.0,funded,Electronics Repair,Services,to buy new tools and equipment for her electro...,PH,Philippines,"Dumangas, Iloilo City",shared,0.1,PHP,145.0,2014-04-07 07:26:35.000 +0000,2014-05-07 22:50:03.000 +0000,2014-03-14 07:00:00.000 +0000,2014-04-14 03:13:19.000 +0000,8.0,8,1,1,"#First Loan, #Biz Durable Asset, #Woman Owned ...",female,true,irregular,field_partner
4769,691103,Evelyn,English,Evelyn is 47 years old and lives in Kolambugan...,Evelyn is 47 years old and lives in Kolambugan...,675.0,675.0,funded,Retail,Retail,to purchase stock for her mini-grocery store,PH,Philippines,"Ozamiz - Kolambugan, Lanao Del Norte",shared,0.1,PHP,126.0,2014-03-30 23:13:41.000 +0000,2014-04-29 23:40:01.000 +0000,2014-03-14 07:00:00.000 +0000,2014-04-17 05:32:02.000 +0000,14.0,26,2,1,NaN,female,true,monthly,field_partner
5006,1367985,Evelyn,English,Evelyn is 41 years old and married with four c...,Evelyn is 41 years old and married with four c...,175.0,175.0,funded,General Store,Retail,"to buy items to sell like canned goods, condim...",PH,Philippines,"Palo, Leyte",shared,0.1,PHP,145.0,2017-08-30 03:21:46.000 +0000,2017-09-29 03:30:05.000 +0000,2017-07-31 07:00:00.000 +0000,2017-08-30 12:06:09.000 +0000,8.0,5,1,1,"#Woman Owned Biz, #Parent",female,true,irregular,field_partner
6032,450811,Evelyn,English,Evelyn is 49 years old and married with three ...,NaN,375.0,375.0,funded,Grocery Store,Food,to purchase more grocery products to sell in h...,PH,Philippines,"Bogo, Cebu",shared,0.1,PHP,145.0,2012-07-17 06:32:48.000 +0000,2012-08-17 23:40:20.000 +0000,2012-06-28 07:00:00.000 +0000,2012-08-06 14:54:20.000 +0000,8.0,14,2,1,NaN,female,true,irregular,field_partner
6122,1405295,Evelyn,English,Evelyn works hard to support her family. She i...,Evelyn works hard to support her family. She i...,200.0,200.0,funded,Fishing,Food,to buy fishing gear such as nets and gasoline ...,PH,Philippines,"Sagay, Negros Occidental",shared,0.1,PHP,145.0,2017-10-29 01:04:41.000 +0000,2017-11-29 00:10:06.000 +0000,2017-09-29 07:00:00.000 +0000,2017-10-30 16:19:50.000 +0000,11.0,3,1,1,NaN,female,true,irregular,field_partner
6621,889059,Evelyn,English,"Evelyn is 45 years old, married, and has four ...","Evelyn is 45 years old, married, and has four ...",125.0,125.0,funded,Pigs,Agriculture,"to buy feed, vitamins, and other supplies to ...",PH,Philippines,"Tacloban City, Leyte",shared,0.1,PHP,145.0,2015-05-21 06:12:49.000 +0000,2015-06-23 02:00:06.000 +0000,2015-05-19 07:00:00.000 +0000,2015-05-24 18:57:46.000 +0000,8.0,4,1,1,NaN,female,true,irregular,field_partner
6882,525317,Evelyn,English,Evelyn is 49 years old and married with three ...,NaN,500.0,500.0,funded,General Store,Retail,"to purchase shampoo, eggs, snack foods, sugar,...",PH,Philippines,"La Castellana, Negros Occidental",shared,0.1,PHP,145.0,2013-02-07 07:58:36.000 +0000,2013-03-10 14:10:02.000 +0000,2013-01-25 08:00:00.000 +0000,2013-02-15 15:18:38.000 +0000,8.0,14,2,1,NaN,female,true,irregular,field_partner
7231,525696,Evelyn,English,Evelyn is married with three children. She is ...,NaN,500.0,500.0,funded,Grocery Store,Food,To purchase 10 boxes of assorted grocery items...,PH,Philippines,"Calamba-Southwestern POblacion, Calamba Mis. Occ.",shared,0.1,PHP,126.0,2013-02-08 07:00:43.000 +0000,2013-03-11 04:50:02.000 +0000,2013-02-07 08:00:00.000 +0000,2013-02-18 03:16:31.000 +0000,14.0,16,3,2,NaN,female,true,monthly,field_partner
7363,540442,Evelyn,English,Evelyn works hard to support her family. She i...,NaN,400.0,400.0,funded,Fish Selling,Food,to buy more fish to sell.,PH,Philippines,"Sagay, Negros Occidental",shared,0.1,PHP,145.0,2013-03-20 14:49:08.000 +0000,2013-04-22 15:50:13.000 +0000,2013-03-07 08:00:00.000 +0000,2013-03-24 02:23:55.000 +0000,13.0,13,1,1,NaN,female,true,irregular,field_partner
7731,1331957,Evelyn,English,Evelyn works hard to support her family. She i...,Evelyn works hard to support her family. She i...,600.0,600.0,funded,Services,Services,to purchase additional spare parts for the mai...,PH,Philippines,"Cauayan, Negros Occidental",shared,0.1,PHP,145.0,2017-07-03 08:42:23.000 +0000,2017-08-17 21:30:05.000 +0000,2017-06-09 07:00:00.000 +0000,2017-07-18 21:35:34.000 +0000,7.0,1,1,1,NaN,female,true,irregular,field_partner
8549,610586,Evelyn,English,Evelyn is 28 years old and lives in the West P...,NaN,150.0,150.0,funded,Charcoal Sales,Retail,to purchase more charcoal for her business,LR,Liberia,West Point,shared,0.1,LRD,182.0,2013-09-20 10:37:14.000 +0000,2013-10-28 14:20:02.000 +0000,2013-08-27 07:00:00.000 +0000,2013-09-28 15:32:52.000 +0000,11.0,3,1,1,NaN,female,true,irregular,field_partner
9237,870504,Evelyn,English,"Evelyn is a merchant from Dulag, Leyte. She o...","Evelyn is a merchant from Dulag, Leyte. She o...",350.0,350.0,funded,Retail,Retail,to buy assorted stocks for the store and pig f...,PH,Philippines,"Dulag, Leyte",shared,0.1,PHP,125.0,2015-04-16 06:41:11.000 +0000,2015-05-21 14:10:02.000 +0000,2015-03-20 07:00:00.000 +0000,2015-04-22 20:23:33.000 +0000,14.0,12,2,1,NaN,female,true,irregular,field_partner
9984,621232,Evelyn,English,"As a married parent of seven children, Evelyn ...",NaN,300.0,300.0,funded,General Store,Retail,"to buy items to sell like shampoo, canned good...",PH,Philippines,"Mabinay, Negros Oriental",shared,0.1,PHP,145.0,2013-10-17 03:04:54.000 +0000,2013-11-23 15:00:04.000 +0000,2013-09-27 07:00:00.000 +0000,2013-10-24 21:04:41.000 +0000,8.0,12,2,1,NaN,female,true,irregular,field_partner

In [102]:
test2.country_name.value_counts()

Philippines                         2487
Kenya                                992
El Salvador                          563
Peru                                 445
Cambodia                             443
Nicaragua                            307
Uganda                               289
Pakistan                             283
Tajikistan                           283
India                                278
Ecuador                              228
Colombia                             216
Paraguay                             207
Bolivia                              173
Jordan                               133
Liberia                              132
Sierra Leone                         132
Honduras                             128
Vietnam                              124
Rwanda                               120
Ghana                                120
Samoa                                109
Lebanon                               98
Armenia                               98
Mexico                                92
Palestine                             86
Mali                                  85
Indonesia                             81
Kyrgyzstan                            80
Mongolia                              78
                                    ...
Timor-Leste                           30
Albania                               30
United States                         29
Costa Rica                            26
Kosovo                                25
Burundi                               24
Burkina Faso                          23
Ukraine                               22
Haiti                                 21
Dominican Republic                    19
Nepal                                 16
Zambia                                13
Turkey                                13
South Sudan                           12
Egypt                                 12
Israel                                 8
Chile                                  7
Congo                                  7
Lao People's Democratic Republic       6
Malawi                                 5
Myanmar (Burma)                        5
South Africa                           4
Thailand                               3
Suriname                               3
Belize                                 2
Somalia                                2
Solomon Islands                        1
Moldova                                1
Afghanistan                            1
China                                  1
Name: country_name, Length: 75, dtype: int64

In [3]:
lenders= pd.read_csv("dataset/lenders.csv")

In [4]:
lenders.head()

,permanent_name,display_name,city,state,country_code,member_since,occupation,loan_because,loan_purchase_num,invited_by,num_invited
0,qian3013,Qian,NaN,NaN,NaN,1461300457,NaN,NaN,1.0,NaN,0
1,reena6733,Reena,NaN,NaN,NaN,1461300634,NaN,NaN,9.0,NaN,0
2,mai5982,Mai,NaN,NaN,NaN,1461300853,NaN,NaN,NaN,NaN,0
3,andrew86079135,Andrew,NaN,NaN,NaN,1461301091,NaN,NaN,5.0,Peter Tan,0
4,nguyen6962,Nguyen,NaN,NaN,NaN,1461301154,NaN,NaN,NaN,NaN,0